:root {
    color-scheme: dark;
    --color-font: #d9e0e0;
    --color-background: #1e272d;
    --color-background-border: #333;
    --color-background-alt: #3a3740;
    --color-background-accent: #2a2929;
    --color-accent: rgb(180, 135, 235);
    --color-accent-alt: rgb(145, 103, 196);

    --font-family: "Times New Roman", sans-serif;
    --letter-spacing: 0.7px;
}
