:root {
    color-scheme: light;
    --color-font: #17161a;
    --color-background: rgb(245, 240, 214);
    --color-background-border: #ccc;
    --color-background-alt: hsl(49, 62%, 83%);
    --color-background-accent: hsl(51, 22%, 77%);
    --color-accent: rgb(174, 153, 200);
    --color-accent-alt: rgb(206, 195, 220);

    --font-family: "Arial", sans-serif;
    --letter-spacing: 0.5px;
}
